<header>
    <nav class="header-nav">
        <a class="header-title" href="/">BookLibrary</a>
        <ul>
            <li class="header-link"><a href="/authors">Authors</a></li>
            <li class="header-link"><a href="/authors/new">Add authors</a></li>
            <li class="header-link"><a href="/books">Books</a></li>
            <li class="header-link"><a href="/books/new">Add book</a></li>
        </ul>
    </nav>
</header>