<header>
    <nav>
        <a href="/">BookLibrary</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add authors</a></li>
        </ul>
    </nav>
</header>